<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>About Us</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="static/img/logo.png" alt="Logo" style="height: 50px;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/ml">Machine Learning</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tableau">Passengers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tableau2">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about_us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/works_cited">Works Cited
                    <span class="visually-hidden">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <hr style="color:lightgray; border-width: 3px;">

    <!-- add spacing -->
    <br/>

    <!-- Dashboard -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 text-center">
              <h1> Sources </h1>
          </div>
          <div class="col-md-12 text-center">
              <a href="https://www.kaggle.com/datasets/teejmahal20/airline-passenger-satisfaction">Teejmahal20. Airline Passenger Satisfaction Dataset. Kaggle, https://www.kaggle.com/datasets/teejmahal20/airline-passenger-satisfaction.</a>
              <br>
              <br>
              <a href="https://xgboost.readthedocs.io/en/stable/python/python_intro.html">XGBoost. Python Package Introduction. https://xgboost.readthedocs.io/en/stable/python/python_intro.html.</a>
              <br>
              <br>
              <a href="https://scikit-learn.org/stable/">Scikit-learn. Scikit-learn: Machine Learning in Python.​ https://scikit-learn.org/stable/.</a>
              <br>
              <br>
              <a href="https://www.pythonanywhere.com/">PythonAnywhere. PythonAnywhere: Python in the Cloud. https://www.pythonanywhere.com/.</a>
              <br>
              <br>
              <a href="https://public.tableau.com/app/discover">Tableau Public. Tableau Public: Discover and Share Data Visualizations. https://public.tableau.com/app/discover.</a>
              <br>
          </div>
      </div>
   </div>

     <br/>
     <br/>
</body>

</html>
